<a href="https://colab.research.google.com/github/ChiranjeebDash/ChiranjeebDash_18cse052/blob/main/DMDWass1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
n_num = [1, 2, 3, 4, 5]
n=len(n_num)
s=sum(n_num)
mean=s/n
print("Mean is",mean)

Mean is 3.0

In [2]:
n_num = [1, 2, 3, 4, 5]
n=len(n_num)
n_num.sort()
if n%2==0:
  m1=n_num[n//2]
  m2=n_num[n//2-1]
  median=(m1+m2)/2
else:
  median=n_num[n//2]
print("Median is",median)

Median is 3

In [3]:
from collections import Counter 

n_num = [1, 2, 3, 4, 5, 5] 
n = len(n_num) 
  
data = Counter(n_num) 
get_mode = dict(data) 
mode = [k for k, v in get_mode.items() if v == max(list(data.values()))] 
  
if len(mode) == n: 
    get_mode = "No mode found"
else: 
    get_mode = "Mode is / are: " + ', '.join(map(str, mode)) 
      
print(get_mode)

Mode is / are: 5

In [4]:
def variance(data):
     n = len(data)
     mean = sum(data) / n
     deviations = [(x - mean) ** 2 for x in data]
     variance = sum(deviations) / (n-1)
     return variance
variance([4, 8, 6, 5, 3, 2, 8, 9, 2, 5])

6.4

In [5]:
import math
def variance(data):
     n = len(data)
     mean = sum(data) / n
     return sum((x - mean) ** 2 for x in data) / (n -1)


def stdev(data):
     var = variance(data)
     std_dev = math.sqrt(var)
     return std_dev
stdev([4, 8, 6, 5, 3, 2, 8, 9, 2, 5])

2.5298221281347035

In [6]:
L = [1, "a" , "string" , 1+2] 
print (L) 
L.append(6) 
print (L)
L.pop() 
print (L) 
print (L[1])

[1, 'a', 'string', 3]
[1, 'a', 'string', 3, 6]
[1, 'a', 'string', 3]
a

In [7]:
tup = (1, "a", "string", 1+2) 
print(tup) 
print(tup[1])

(1, 'a', 'string', 3)
a

In [8]:
month={1:'JAN',2:'FEB',3:'MAR',4:'APR',5:'MAY',6:'JUNE',7:'JULY',8:'AUG',9:'SEP',10:'OCT',11:'NOV',12:'DEC'}
print(month[1],month[3])
print(month)

JAN MAR
{1: 'JAN', 2: 'FEB', 3: 'MAR', 4: 'APR', 5: 'MAY', 6: 'JUNE', 7: 'JULY', 8: 'AUG', 9: 'SEP', 10: 'OCT', 11: 'NOV', 12: 'DEC'}